.main-page{
  background-image: url(./images//todo-list-clair.jpeg);
  background-position: center ;
  background-repeat: no-repeat;
  background-size:cover  ;
  min-height: 100vh;
 
}
.navbarr {
  width:50vw ;
  height:10vh ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
 }

.nav-item {
  text-decoration: none;
  font-size: large;
  font-weight: bolder;
  /*color:rgb(205,185,160) ;*/
  color:rgba(0,0,0,0.8) ;
  text-shadow:4px 5px 10px #fff ;
}

.nav-item:hover {
  font-size: larger;
  border-bottom: 3px solid #fff;
  text-decoration: none;
  color:rgba(0,0,0,0.8) ;
}


/*todos page */
.todos-page {
  display:flex ;
  
}
.todos-page-part1 {
  flex-basis:20% ;
  border:2px solid #aaa ;
  display:flex ;
  flex-direction: column;
  background-color: rgba(0,0,0,0.6);
  padding:10px 0px ;
  color:#fff;
  height:fit-content;
  margin:10px 50px;
}
.todos-page-part1  button ,.add-btn{
  width:150px ;
  margin:5px auto ;
  padding:15px ;
  text-align: center;
  font-size: bolder;
  background:transparent;
  border-radius:10px;
  border:3px solid burlywood ; 
  outline:none ;
  cursor:pointer ;
  color:#fff
}
.edit-input {
  display: block;
  width:150px ;
  margin:5px auto ;
  padding:5px ;
  
  font-size: bolder;
  background:transparent;
  border-radius:10px;
  border:3px solid burlywood ; ;
  outline:none ;
  cursor:pointer ;
  color:#fff
}
.todos-page-part1 h4 {
  text-indent: 20px;
  text-align: left;
  color:burlywood ;
}

.todos-page-part2 {
  flex-basis: 70%;
  
  margin:10px ;
  padding:20px ;
  min-height:80vh;
  
}
.todoList-title {
  text-indent: 200px;
  color:rgba(0,0,0,0.9)
  
}
.one-todo {
  width:100%;
  padding:0px ;
  margin:0px auto ;
  background-color:rgba(87,72,53,0.6) ;
  display: flex;
  justify-content: space-evenly;
  padding:20px;
  border:2px solid #aaa;
  margin-bottom:10px;
  color:#fee ;
}
.one-todo h3 {
  width:150px ;
  color:burlywood;
  text-shadow: 3px 4px 7px #fee;
}
.one-todo p {
  width:200px ;
  text-align: left;
}
.one-todo button {
  padding:5px;
  width:100px ;
  background-color:transparent ;
  border:3px solid burlywood ;
  color:#fff ;
  font-weight: bold;
}
.list-todos {
  margin:10px auto;
  padding:20px;
  
}
.todo-pana {
  width:400px ;
  height:400px; 
  position:absolute ;
  top:30% ;
  left:5%;
}

.form-add div {
  display: flex; 
  justify-content: space-between;
  margin-bottom:10px
}

@media only screen and (max-width: 600px) {
 .navbarr {
  width:50vw ;
  height:10vh ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }
 .nav-item {
  font-size:15px ;
  font-weight: bold;
 }
 .todo-pana {
  width:250px ;
  height:300px; 
  position:absolute ;
  top:30% ;
  left:1%;
 }
 .one-todo {
   width:99vh ;
   margin:0px ;
 }
 .one-todo h3 {
  width:130px ;
  font-size: 10px;
}
.one-todo p {
  width:150px ;
  text-align: left;
  font-size: small;
}
.one-todo button {
  padding:5px;
  width:100px ;
}
.todos-page-part1  button ,.add-btn {
  border:3px solid burlywood ;
}

}
.contact-page {
  width:80% ;
  height: max-content;
  color:#000 ;
  margin:0px auto ;
}
.contact-section {
  color:#000
}
.specific {
  color:#00acee ;
}
.contact-section {
  box-shadow: 4px 5px 9px#000;
}
.contact {
  background-color: rgba(0,0,0,.6);
}
.form {
  background-color:transparent;
}
/*Media queries*/
@media only screen and (max-width: 1000px) {
 .navbarr {
  width:100vw ;
  height:10vh ;
  display: flex;
  justify-content:space-evenly;
  align-items: center;

 }
 .nav-item {
  font-size:15px ;
  font-weight: bold;
 }
 .todo-pana {
  width:350px ;
  height:400px; 
  position:absolute ;
  top:30% ;
  left:5%;
 }
 

 .todos-page {
   display:block
 }
 .todos-page-part1 {
   width:60%;
   display: flex;
   flex-direction: column;
   margin:5px auto ;
 }
 .todos-page-part1 button ,.add-btn{
  width:150px ;
  margin:5px auto ;
  padding:10px ;
  text-align: center;
  font-size: 15px;
  background:transparent;
  border-radius:10px;
  border:3px solid #fff ; ;
  outline:none ;
  cursor:pointer ;
  color:#fff
}
.todos-page-part1 h4 {
   text-align: left;
   width:350px ;
   font-size: 15px;
   font-weight:bolder ;
}
.todoList-title {
  text-align:center ;
  font-weight:bolder ;
  text-indent:0px;
}
}
.home-page-ident {
  width:40% ;
  margin:30px 50px ;
}
.home-page-ident h3 {
  font-size: 50px;
  font-weight: bolder;
  color:brown ;
}
.home-page-ident p {
  margin:40px 60px ;
   font-size:20px ;
   border-left:3px solid brown ;
   padding :10px;
}